.works-section {
  .tags {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    .header-btn {
      padding: 0.375rem 1rem;
      font-weight: 600;
      background: #72e2ae1a;
      color: #72e2ae;
      &.active-tag {
        background-color: #72e2ae;
        color: #0f172a;
      }
      &:hover {
        color: #0f172a;
      }
    }
  }
  .card-container {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
    .skill_tag {
      padding: 0.15rem 0.5rem;
      background-color: #055dff1f;
      border-radius: 0.25rem;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: rgb(32, 247, 218);
    }
  }
}
