.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
        .btn {
                outline: none;
                border: none;
        
                span {
                    font-weight: 600;
                }
            }
}