.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  z-index: 200;
  &.fixed{
    backdrop-filter: blur(8px);
    background: #0f172acc;
    border-bottom: 1px solid #ffffff34;
    animation: slideDown 1s ease-in-out;
  }

  .logo {
    font-size: 30px;
    font-weight: 700;
    color: #72e2ae;
    padding: 0.85rem 0;
  }
  .mobile-menu {
    display: none;
    .menu-btn {
      &:hover{
        span{
          background: #0b1223;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #ffffff29;
      padding: 10px;
      gap: 5px;
      border-radius: 5px;
      background-color: #72e2ae1a;
      span {
        width: 35px;
        height: 5px;
        background: #72e2ae;
        border-radius: 5px;
      }
    }
    .menu-container {
      display: none;
      gap: 1rem;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      background: #0b1223;
      z-index: 20;
      .close-btn {
        &:hover{
          span{
            background: #0b1223;
          }
        }
        position: absolute;              
        top: 2rem;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ffffff29;
        background-color: #72e2ae1a;
        span {
          width: 30px;
          height: 5px;
          background: #72e2ae;
          border-radius: 10px;
          position: absolute;
          &:nth-child(1){
            transform-origin: center;
            transform: rotate(45deg) translate(0px, -1px);
          }
          &:nth-child(2){
            transform-origin: center;
            transform: rotate(-45deg);
          }
        }
      }
      .menu-items {
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;
        .item{
          padding: 1rem 0;
          text-decoration: none !important;
          &::after{
            bottom: 10px;
          }
        }
      }
    }
  }
  .menu-items {
    display: flex;
    gap: 2rem;
    .item {
      color: #fafafa;
      font-size: 14px;
      line-height: 1.8;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 1.5rem 0;
      position: relative;
      cursor: pointer;
      text-decoration: none !important;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background: #72e2ae;
        left: 0;
        bottom: 20px;
        transition: 0.5s ease;
      }
      &:hover {
        color: #72e2ae;
        &::after {
          width: 110%;
          transition: 0.5s ease;
          transform: translateX(-5%);
        }
      }
    }
  }
  .header-btn {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: #72e2ae;
    padding: 0.625rem 1.25rem;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
    color: #0f172a;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
    position: relative;
    z-index: 20;
    text-decoration: none;

  }
}
@keyframes slideDown {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
  
}


@media screen and (max-width: 1024px) {
  .header {
    .menu-items {
      display: none;
    }
    .header-btn {
      display: none;
    }
    .mobile-menu {
      display: flex;
      .header-btn {
        display: flex;
      }

    }
  }
}
